<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="gazebo_debug" default="false"/>

  <!-- ==================================================== -->
  <!-- Startup simulated world in Gazebo -->
  <!-- ==================================================== -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find omtp_lecture3)/worlds/box_world.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="debug" value="$(arg gazebo_debug)"/>
  </include>

  <!-- ==================================================== -->
  <!-- Load universal robot description format (URDF) -->
  <!-- ==================================================== -->
  <param name="robot_description" command="xacro  '$(find omtp_lecture3)/urdf/omtp_panda.urdf.xacro'"/>

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-urdf -param robot_description -model robot -x 0 -y 0 -z 0"
        respawn="false" output="screen" />

  <include file="$(find cam_lecture3)/launch/ros_controllers.launch"/>

  <!-- ==================================================== -->
  <!-- joint_state_publisher                                -->
  <!-- ==================================================== -->
  <!-- We do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[/panda/joint_states]</rosparam>
  </node>
  <node name="joint_state_desired_publisher" pkg="topic_tools" type="relay" args="joint_states joint_states_desired" />

  <!-- ==================================================== -->
  <!-- robot_state_publisher                                -->
  <!-- ==================================================== -->
  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- ==================================================== -->
  <!-- MoveIt!                                               -->
  <!-- ==================================================== -->
  <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find cam_lecture3)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <!-- 
      fake_execution parameter was renamed:
      https://github.com/ros-planning/moveit/blob/e7b388d238159de020a9c31f5896112c1513bf6b/moveit_setup_assistant/CHANGELOG.rst -->
    <!-- <arg name="fake_execution" value="false"/> -->
    <!-- Now use moveit_controller_manager parameter instead: fake, ros_control, simple -->
    <!-- For an example, check : demo.launch and demo_gazebo.launch -->

    <!-- <arg name="moveit_controller_manager" default="fake" /> --> <!-- Only rviz, no Gazebo -->
    <!-- <arg name="moveit_controller_manager" value="ros_control" /> --> <!-- ros_control to simulate with Gazebo -->
    <!--arg name="moveit_controller_manager" value="simple" /--> <!-- ros_control to simulate with Gazebo -->
    <arg name="info" value="true"/>
  </include>

  <!-- ==================================================== -->
  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <!-- ==================================================== -->
  <include file="$(find cam_lecture3)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find cam_lecture3)/launch/moveit.rviz"/>
  </include>

</launch>